# Install pre-commit hooks via
# pre-commit install

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-comprehensions
        # - flake8-docstrings
        - flake8_builtins
        - import-order

  # - repo: local
  #   hooks:

  #   - id: doc8
  #     entry: doc8
  #     language: system
  #     types: [rst]
  #     name: doc8 - Lint the documentation.
